<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hod.project.hive.project.service.ProjectMapper">

    <select id="findProjectManMonth" resultType="com.hod.project.hive.project.entity.ProjectManMonth">
        SELECT
            U.id            AS user_id,
            U.name          AS user_name,
            P.id            AS project_id,
            P.name          AS project_name,
            M.project_year  AS project_year,
            P.begin_date    AS begin_date,
            P.end_date      AS end_date,
            M.type          AS type,
            M.m1,
            M.m2,
            M.m3,
            M.m4,
            M.m5,
            M.m6,
            M.m7,
            M.m8,
            M.m9,
            M.m10,
            M.m11,
            M.m12,
            M.created_id,
            M.created_date,
            M.modified_id,
            M.modified_date
        FROM tb_project_mm  AS M
        JOIN tb_project     AS P ON M.project_id = P.id
        JOIN tb_user        AS U ON M.user_id = U.id
        WHERE project_year = #{projectYear}
        <if test="userId != null">
        AND M.user_id = #{userId}
        </if>
        AND M.type IN ('EXPECT', 'ACTUAL')
    </select>

</mapper>
