<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hod.project.hive.mapper.ProjectMapper">

    <!-- TODO : PARSEDATETIME은 H2 용이며 MySQL로 연동시에는 다른 것으로 변경 필요 -->
    <select id="findProject" parameterType="string" resultType="com.hod.project.hive.entity.Project">
        SELECT p.id id,
        	p.name name,
        	pu.user_id pmId,
        	u.name pmName,
        	p.begin_date beginDate,
        	p.end_date endDate,
        	p.status status
        FROM tb_project p
        LEFT JOIN tb_project_user pu
            ON pu.project_id = p.id AND pu.ROLE = 'PM'
        LEFT JOIN tb_user u
            ON u.id = pu.user_id
        WHERE
        <!-- 1. 조회 시작 시간이 프로젝트 사이에 있을때. 2. 조회 종료 시간이 프로젝트 사이에 있을때 3. 조회 시작 시간이 프로젝트 시간보다 이전이고 조희 끝 시간이 프로젝트 종료 이후 시간일때 -->
        <![CDATA[(
        			p.begin_date <= PARSEDATETIME(#{beginDate}, 'yyyy-MM-dd')
        			AND p.end_date >= PARSEDATETIME(#{beginDate}, 'yyyy-MM-dd')
        			)
        		OR (
        			p.begin_date <= PARSEDATETIME(#{endDate}, 'yyyy-MM-dd')
        			AND p.end_date >= PARSEDATETIME(#{endDate}, 'yyyy-MM-dd')
        			)
        		OR (
        		    p.begin_date >= PARSEDATETIME(#{beginDate}, 'yyyy-MM-dd')
                    AND p.end_date <= PARSEDATETIME(#{endDate}, 'yyyy-MM-dd')
                    )
        		]]>

        <if test="status != 'ALL'">
            AND p.status = #{status}
        </if>
    </select>

	<select id="findProjectTotalMm" resultType="java.lang.Float">
        SELECT  IFNULL(SUM(IFNULL(m1, 0) + IFNULL(m2, 0) + IFNULL(m3, 0) + IFNULL(m4, 0)
                + IFNULL(m5, 0) + IFNULL(m6, 0) + IFNULL(m7, 0) + IFNULL(m8, 0)
                + IFNULL(m9, 0) + IFNULL(m10, 0) + IFNULL(m11, 0) + IFNULL(m12, 0)), 0)
        FROM tb_project_mm
        WHERE project_id = #{id}
            AND type = #{type}

        <if test="userId != null">
            AND user_id = #{userId}
        </if>
	</select>

    <select id="findProjectDetail" resultType="com.hod.project.hive.entity.ProjectDetail">
        SELECT  p.id id,
                p.name name,
                pu.user_id pmId,
               	u.name pmName,
               	p.begin_date beginDate,
               	p.end_date endDate,
               	p.status status
        FROM tb_project p
        LEFT JOIN tb_project_user pu
            ON pu.project_id = p.id AND pu.ROLE = 'PM'
        LEFT JOIN tb_user u
            ON u.id = pu.user_id
        WHERE p.id = #{id}
    </select>

    <select id="findUserList" resultType="com.hod.project.hive.entity.ProjectDetail$ProjectUser">
        SELECT  pu.user_id id,
                u.name name,
                t.name team
        FROM tb_project p
        JOIN tb_project_user pu
            ON pu.project_id = p.id
        JOIN tb_user u
            ON u.id = pu.user_id
        JOIN tb_team_user tu
            ON tu.user_id = u.id
        JOIN tb_team t
            ON t.id = tu.team_id
        WHERE p.id = #{id}
    </select>

    <select id="findProjectManMonth" resultType="com.hod.project.hive.entity.ProjectManMonth">
        SELECT
            U.id            AS user_id,
            U.name          AS user_name,
            P.id            AS project_id,
            P.name          AS project_name,
            M.project_year  AS project_year,
            P.begin_date    AS begin_date,
            P.end_date      AS end_date,
            M.type          AS type,
            M.m1,
            M.m2,
            M.m3,
            M.m4,
            M.m5,
            M.m6,
            M.m7,
            M.m8,
            M.m9,
            M.m10,
            M.m11,
            M.m12,
            M.created_id,
            M.created_date,
            M.modified_id,
            M.modified_date
        FROM tb_project_mm  AS M
        JOIN tb_project     AS P ON M.project_id = P.id
        JOIN tb_user        AS U ON M.user_id = U.id
        WHERE project_year = #{projectYear}
        <if test="userId != null">
            AND M.user_id = #{userId}
        </if>
        AND M.type IN ('EXPECT', 'ACTUAL')
    </select>

</mapper>
