<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hod.project.hive.mapper.ProjectMapper">

    <!-- TODO : PARSEDATETIME은 H2 용이며 MySQL로 연동시에는 다른 것으로 변경 필요 -->
    <select id="findProject" parameterType="string" resultType="com.hod.project.hive.entity.Project">
        SELECT p.id id,
        	p.name name,
        	pu.user_id pmId,
        	u.name pmName,
        	p.begin_date beginDate,
        	p.end_date endDate,
        	p.status status
        FROM tb_project p
        JOIN tb_project_user pu ON pu.project_id = p.id
        	AND pu.ROLE = 'PM'
        JOIN tb_user u ON u.id = pu.user_id
        WHERE (
        <![CDATA[(
        			p.begin_date <= PARSEDATETIME(#{beginDate}, 'yyyyMMdd')
        			AND p.end_date >= PARSEDATETIME(#{beginDate}, 'yyyyMMdd')
        			)
        		OR (
        			p.begin_date <= PARSEDATETIME(#{endDate}, 'yyyyMMdd')
        			AND p.end_date >= PARSEDATETIME(#{endDate}, 'yyyyMMdd')
        			)
        		)]]>

        <if test="status != 'ALL'">
            AND p.status = #{status}
        </if>
    </select>
	<select id="findProjectTotalMm" resultType="java.lang.Float">
		SELECT SUM(m1) + SUM(m2) + SUM(m3) + SUM(m4) + SUM(m5) + SUM(m6) + SUM(m7) + SUM(m8) + SUM(m9) + SUM(m10) + SUM(m11) + SUM(m12)
			FROM tb_project_mm WHERE project_id = #{id} AND type = #{type}
		<!--float findProjectTotalMm(@Param("id") String id, @Param("projectYear") String projectYear, @Param("type") String type); -->
<!--		JOIN (-->
<!--	        	SELECT project_id,-->
<!--	        		SUM(m1) + SUM(m2) + SUM(m3) + SUM(m4) + SUM(m5) + SUM(m6) + SUM(m7) + SUM(m8) + SUM(m9) + SUM(m10) + SUM(m11) + SUM(m12) actualMm-->
<!--	        	FROM tb_project_mm-->
<!--	        	WHERE type = 'ACTUAL'-->
<!--	        	) pma ON pma.project_id = p.id-->
<!--	        JOIN (-->
<!--	        	SELECT project_id,-->
<!--	        		SUM(m1) + SUM(m2) + SUM(m3) + SUM(m4) + SUM(m5) + SUM(m6) + SUM(m7) + SUM(m8) + SUM(m9) + SUM(m10) + SUM(m11) + SUM(m12) expectMm-->
<!--	        	FROM tb_project_mm-->
<!--	        	WHERE type = 'EXPECT'-->
<!--	        	) pme ON pme.project_id = p.id-->
	</select>

</mapper>